<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="debitCard" class="com.beans.DebitCard" />
    <bean id="creditCard" class="com.beans.CreditCard" />
    <bean id="upi" class="com.beans.Upi" />
    <bean id="shopingcart" class="com.beans.ShopingCart" >
        <constructor-arg ref="creditCard"/>
    </bean>


</beans>