<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="PwdService" class="com.beans.PwdService" />
    <bean id="EmailService" class="com.beans.EmailService" />

    <bean id="shopingcart" class="com.beans.UserService"  >
        <constructor-arg ref="PwdService"/>
        <constructor-arg ref="EmailService"/>
    </bean>


</beans>