<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="productCsvReader" class="com.beans.ProductCsvReader" />

    <bean id="productDao" class="com.beans.ProductDao"  >
        <property name="url" value="jdbc:postgresql://localhost:5432/products_csv"/>
        <property name="username" value="postgres"/>
        <property name="password" value="nitin123"/>
    </bean>
    <bean id="productService" class="com.beans.ProductService" >
        <property name="productDao" ref="productDao"/>
        <property name="productCsvReader" ref="productCsvReader"/>
    </bean>


</beans>