<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="SonyPrinter" class="com.beans.SonyPrinter" />
    <bean id="HpPrinter" class="com.beans.HpPrinter" />
    <bean id="ATM" class="com.beans.ATM" >
        <constructor-arg name="ip" ref="SonyPrinter" />
        <property name="iprinter" ref="HpPrinter"/>

    </bean>

</beans>